{% extends '../base.html' %}
{% load static %}


{% block content %}

        <div class="row">
                   <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 style="color: #0C18D1; font-weight: bold;">Student Details</h2><hr>
                </div>
        </div>

           <div class="container">
                <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Roll Number</th>
                                            <th>Address</th>
                                            <th>Contact</th>
                                            <th>Batch</th>
                                            <th colspan="2" style="text-align: center;">Make Changes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for stud in students %}
                                        <tr>
                                              <td>{{stud.student_name}}</td>
                                              <td>{{stud.roll_number}}</td>
                                              <td>{{stud.address}}</td>
                                              <td>{{stud.phone_number}}</td>
                                              <td>{{stud.batch}}</td>
                                              <td>
                                                <a href="{% url 'libraryapp:admindelete' stud.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                                              </td>
                                              <td>
                                                <a href="{% url 'libraryapp:adminupdate' stud.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                                              </td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                  </div>

{% endblock %}