{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center;"> 
	<div class="row">
		<div class="col-md-6 col-md-offset-3 ">
			<h3 style="color: hsla(0,50%,60%,0.6);">Admin Login</h3>
				<hr>
		</div>
	    <div class="col-md-6 col-md-offset-3" style="background-color: hsla(0,50%,60%,0.5); border: solid 2px hsla(0,45%,50%,0.7);width: 400px;height: 200px;margin-left: 500px;">
	    	
	 
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<div class="col-md-6">
			 <button class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</button>
		   </div>
		</form>
	    </div>
	</div>
</body>
</html>