{% extends '../base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block javascript %}
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}

        <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 style="color: #0C18D1; font-weight: bold;">Issue  Form</h2><hr>
        </div>
        <div class="col-md-6 col-md-offset-3" style="background-color: #fff; padding: 40px;"">
     	<form method="POST" enctype="multipart/form-data">
     		{% csrf_token %}
     		 {{form.as_p}}
                 <div class="col-md-6">
                <button class="btn btn-primary btn-block">Add</button>
             </div>
            <div class="col-md-6">
                <a href="{% url 'libraryapp:adminissuelist' %}" class="btn btn-primary btn-block pull-right">Cancel</a>
            </div>
         </form>
         </div>


<script>
   $(function () {
        $('#datepicker4').datepicker();
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datepicker5').datepicker();
    });
</script>
{% endblock %}
