{% extends '../base.html'%}
{% load static %}


{% block content %}
     <div class="row">
           <div class="col-md-6 col-md-offset-3 text-center">
            <h2 style="color: #0C18D1; font-weight: bold;">Book Registeration Form </h2><hr>
        </div>

      
     <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color: #fff; padding: 40px;">
            
         <form method="POST" enctype="multipart/form-date">
            {% csrf_token %}
             {{ form.as_p }}
             <div class="col-md-6">
                <button class="btn btn-primary btn-block">Edit</button>
             </div>
            <div class="col-md-6">
                <a href="{% url 'libraryapp:adminbooklist' %}" class="btn btn-primary btn-block pull-right">Cancel</a>
            </div>
         </form>
                 </div>

      </div>


{% endblock %}