{% extends '../base.html'%}
{% load static %}

    {% block content %}
        <div class="row">
           <div class="col-md-6 col-md-offset-3 text-center">
            <h2 style="color: #0C18D1; font-weight: bold;">Book Details</h2><hr>
        </div>
        </div>
         <div class="container">
                <table class="table table-bordered table-hover">
                     <thead class="thead-light">
                      <tr class="active">
                            <th>S_ID</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Department</th>
                            <th colspan="2" style="text-align: center;">Make Changes</th>
                      </tr>
                      </thead>
                      {% for book in books %}
                      <tr>
                          <td>{{book.s_id}}</td>
                          <td>{{book.book_name}}</td>
                          <td>{{book.author}}</td>
                          <td>{{book.category_title}}</td>
                          <td><a href="{% url 'libraryapp:admindelete' book.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                          <td><a href="{% url 'libraryapp:adminupdate' book.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
                      </tr>
                      {% endfor %}
                </table>
          </div>

{% endblock %}