{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container-fluid">
           <div class="container-fluid">
                <table class="table table-bordered table-hover">
                     <thead class="thead-light">
                      <tr class="active">
                            <th>Name</th>
                            <th>Roll Number</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Batch</th>
                            <th colspan="2" style="text-align: center;">Make Changes</th>
                      </tr>
                      </thead>
                      {% for stud in students %}
                      <tr>
                          <td>{{stud.student_name}}</td>
                          <td>{{stud.roll_number}}</td>
                          <td>{{stud.address}}</td>
                          <td>{{stud.phone_number}}</td>
                          <td>{{stud.batch}}</td>
                          <td><a href="{% url 'libraryapp:admindelete' stud.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
                          <td><a href="{% url 'libraryapp:adminupdate' stud.id %}" button class="btn btn-primary">Edit</button></a></td>
                      </tr>
                      {% endfor %}
                </table>
       </div>
    </div>

{% endblock %}