{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Library management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<!-- jQuery library -->

	{% block css %}


	{% endblock %}
</head>
<body style="background-color: lightblue;">
	<a class="dropdown-item" href="{% url 'libraryapp:adminread' %}"><span></span>Student</a>
		      	<a class="dropdown-item" href="{% url 'libraryapp:admincreate' %}">Add Student</a>
		      	<a class="dropdown-item" href="{% url 'libraryapp:adminbooklist' %}">Book</a>
		      	<a class="dropdown-item" href="{% url 'libraryapp:adminaddbook' %}">Add Book</a>
</div>

<br>
<br>
<br>
<br>
	{% block content %}


	{% endblock %}




	<script src="{% static 'js/jquery.js' %}"></script>

	<!-- Popper JS -->

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% block javascript %}

	{% endblock %}

</body>
</html>